:root {
    --primary-color: #FAF0CA;
    --secondary-color: #BFC3B1;
    --accent1-color: #849698;
    --accent2-color: #F7E294;
}

h1, h2 {
    font-family: 'Roboto', 'san-serif';
    color: var(--accent1-color);
}

p {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
}

a {
    text-decoration: none;
}

div {
    margin: 1rem;
    border: 1px solid var(--accent1-color);
    padding: 1rem;
}

.hero div {
    position: relative;
}

.hero {
    display: flex;
    margin: 1rem;
    border: 1px solid var(--accent1-color);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: black;
    max-width: 1000px;
    justify-self: center;
}

.hero div h1 article{
    position: absolute;
}

#box article img {
    float: right;
}
 h1 {
    text-align: center;
    padding: 0;
    border: 1px solid var(--accent1-color);
    background-color: black;
    font-family: 'Roboto', 'san-serif';
    color: white;
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 100px 1fr 1fr;
	align-items: center;
    max-width: 1000px;
	border-bottom: 1px solid #ccc;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto', 'san-serif';
    font-weight: 700;
    align-items: center;
}

header img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history {
    display: grid;
    max-width: 1000px;
    justify-self: center;
    padding: 0%;
    border: 1px;
    grid-column: 1/2;
}

.history h2 {
    display: grid;
    justify-content: center;
    align-items: center;
    color: black;
}

.adventure {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 1000px;
    justify-self: center;
    padding: 0%;
    border: 1px;
}

.ad {
    display: grid;
    max-width: 1000px;
    justify-self: center;
    padding: 0%;
    border: 1px;
    color: black;
}

footer {
    display: grid;
    max-width: 1000px;
    justify-self: center;
    padding: 0%;
    border: 1px;
    grid-template-columns: 75% 20% 75%;
}

.hero-info {
    display: grid;
    width: 1000px;
    margin: 0.5rem auto 0;
    background-color: var(--accent1-color);
    border: 1px solid var(--accent1-color);
    border-radius: 1rem;
    padding: 0.5rem;
}

.hero-info h2 {
    color: black;
}

.hero-info p {
    font-size: 1.1rem;
    text-align: center;
}

iframe {
    width: 1000px;
}

.adventure-core {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    margin: 0.5rem auto 0;
    justify-content: center;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    border-radius: 1rem;
}

form {
    display: grid;
    width: 1000px;
    margin: 0.5rem auto 0;
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}

label {
    margin: 0.5rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button:hover {
    background-color: var(--secondary-color);
}

button {
    width: 1000px;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: 1000;
    font-size: 1rem;
}

.form-subscribe{
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    border: none;
    font-size: 1.3rem;
}

.text {
    display: grid;
    border: none;
    font-size: 1.2rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.form-radio {
    border: none;
    font-size: 1.2rem;
}

footer a {
    font-weight: 700;
    font-size: 1rem;
}