:root {
    --primary-color: #FAF0CA;
    --secondary-color: #BFC3B1;
    --accent1-color: #849698;
    --accent2-color: #F7E294;
}

h1, h2 {
    font-family: 'Roboto', 'san-serif';
    color: var(--accent1-color);
}

p {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
}

a {
    text-decoration: none;
}

div {
    margin: 1rem;
    border: 1px solid var(--accent1-color);
    padding: 1rem;
}

.hero div {
    position: relative;
}

.hero {
    margin: 1rem;
    border: 1px solid var(--accent1-color);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: black;
}

.hero div h1 article{
    position: absolute;
}

#box article img {
    float: right;
}
 h1 {
    text-align: center;
    padding: 0;
    border: 1px solid var(--accent1-color);
    background-color: black;
    font-family: 'Roboto', 'san-serif';
    color: white;
 }