* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-align: center;
    --height: auto;
}

nav {
    background-color: darkblue;
    padding: 15px;
}

nav a {
    color: white;
    border: 20px;
    display: block;
}

h1 {
    color: darkblue;
    padding: 10px;
}

main img {
    float: right;
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { padding: 0;}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: var(--text-align);
}

aside h2 {
    position: relative;
    top: 30px;
    left: 15px;
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */

.box{
    margin: 1rem;
    border: 1px solid rgba(10, 9, 9, 0.1);
    padding: 1rem;
    background-color: rgba(180, 21, 127, .2);
    color: black;
}
